@model CheckoutViewModel
@{ }


<div class="container h4 p-3">
    <div class="jumbotron">
        <h1 class="text-center">Checkout</h1>
    </div>
    <div class="my-4">
        <a asp-action="OrderSummary" asp-area="Order" asp-controller="Order"
           class="btn btn-info btn-lg my-3">Return to Order Summary</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Item</th><th>Price</th><th>Quantity</th><th>Subtotal</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {
                <tr>
                    <td>@item.MenuItem.Title</td>
                    <td>@item.MenuItem.PriceBeforeTax</td>
                    <td>@item.Quantity</td>
                    <td>@item.SubtotalBeforeTax</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="h3 p-3">Total:</td>
                <td class="p-3">@Model.Cart.TotalBeforeCoupons</td>
            </tr>
        </tfoot>
    </table>

    <form asp-action="SendOrder" asp-controller="Order" asp-area="Order"
          method="post">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="NameOnOrder"></label>
                <div><span asp-validation-for="NameOnOrder" class="text-danger"></span></div>
                <input type="text" asp-for="NameOnOrder"
                       class="form-control" placeholder="John Jacob Smith" />
            </div>
            <div class="form-group mt-4">
                <label asp-for="SpecialInstructions"></label>
                <div><span asp-validation-for="SpecialInstructions" class="text-danger"></span></div>
                <textarea asp-for="SpecialInstructions" class="rounded form-control" rows="5"></textarea>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-success btn-lg" value="Send Order" />
            </div>
        </div>
    </form>
</div>